@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);

  --shadow-tab-card-item: 0px 0px 4px 0px rgba(0, 0, 0, 0.04), 0px 1px 8px -1px rgba(0, 0, 0, 0.08);
}

html {
  scroll-behavior: smooth;
}
.text-5xl {
  letter-spacing: -2px;
}
.text-md {
  letter-spacing: -0.24px;
}
.text-4xl {
  letter-spacing: -0.64px;
}
.text-xl {
  letter-spacing: -0.68px;
}
.text-7xl {
  letter-spacing: -2.64px;
}

/* Custom gradient + blur class */
.bg-orange-blur {
  background: linear-gradient(180deg, #ffdfcc 0%, #ff6910 100%);
  filter: blur(2px);
  opacity: 0.7;
}

body {
  font-family: var(--font-inter);
  scroll-behavior: smooth;
}

/* Footer */

.newpayFooterText {
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  -webkit-text-strokewidth: 1px;
  -webkit-text-stroke-color: #000;
  background: linear-gradient(180deg, rgba(100, 100, 100, 0.24) 8.38%, rgba(6, 6, 6, 0.24) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textTitleClip {
  background: linear-gradient(94deg, #fff 26.92%, rgba(255, 255, 255, 0) 116.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* download */

.btnCta {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), var(--bg-surface-surface-2, rgba(255, 255, 255, 0.08));
}
.btnCta:hover{
  background: #212121;
}

/* Physical cards */

.cardFront {
  animation: fanoutLeft 1s ease; /* Added 's' for seconds */
}

.cardMid {
  animation: fanoutCenter 1s ease; /* Added 's' for seconds */
}

.cardBack {
  animation: fanoutBack 1s ease; /* Added 's' for seconds */
}

@keyframes fanoutLeft {
  0% {
    transform: translateX(60px) rotate(0); /* Removed quotes */
    opacity: 0; /* Removed quotes */
  }
  100% {
    transform: translateX(0); /* Removed quotes */
    opacity: 1; /* Removed quotes */
  }
}

@keyframes fanoutCenter {
  0% {
    transform: translateX(0) opacity(0); /* Removed quotes */
    opacity: 0; /* Removed quotes */
  }
  100% {
    transform: translateX(0) opacity(1); /* Removed quotes */
    opacity: 1; /* Removed quotes */
  }
}

@keyframes fanoutBack {
  0% {
    transform: translateX(-60px) rotate(0); /* Removed quotes */
    opacity: 0; /* Removed quotes */
  }
  100% {
    transform: translateX(0px); /* Removed quotes */
    opacity: 1; /* Removed quotes */
  }
}

/* animation fade in text */

.fadeInUp-no-delay {
  animation: fadeInUp 1s ease-out forwards;
}

.fadeInUp-delay-03 {
  animation: fadeInUp 1s ease-out 0.3s forwards;
}

.fadeInUp-delay-06 {
  animation: fadeInUp 1s ease-out 0.6s forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* animation fade in text */

.fadeInUp-no-delay {
  animation: fadeInUp 1s ease-out forwards;
}

.fadeInUp-delay-03 {
  animation: fadeInUp 1s ease-out 0.3s forwards;
}

.fadeInUp-delay-06 {
  animation: fadeInUp 1s ease-out 0.6s forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* auto slide show */
.animate-slide {
  animation: slide 20s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-400px * 5 - 30px * 5));
  }
}

@media (max-width: 768px) {
  .slideshow-track {
    width: calc((330px + 30px) * 10);
  }
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-330px * 5 - 30px * 5));
    }
  }
}

@media (max-width: 640px) {
  .slideshow-track {
    width: calc((200px + 30px) * 10);
  }
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-200px * 5 - 30px * 5));
    }
  }
}

/* animation card content */
.swiper,
.swiper-slide {
  width: 100%;
  height: 92vh;
}
