@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);

  --shadow-tab-card-item: 0px 0px 4px 0px rgba(0, 0, 0, 0.04), 0px 1px 8px -1px rgba(0, 0, 0, 0.08);
}

html {
  scroll-behavior: smooth;
}
.text-5xl {
  letter-spacing: -2px;
}
.text-md {
  letter-spacing: -0.24px;
}
.text-4xl {
  letter-spacing: -0.64px;
}
.text-xl {
  letter-spacing: -0.68px;
}
.text-7xl {
  letter-spacing: -2.64px;
}

/* Custom gradient + blur class */
.bg-orange-blur {
  background: linear-gradient(180deg, #ffdfcc 0%, #ff6910 100%);
  filter: blur(2px);
  opacity: 0.7;
}

body {
  font-family: var(--font-inter);
  scroll-behavior: smooth;
}

/* Footer */

.newpayFooterText {
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  -webkit-text-strokewidth: 1px;
  -webkit-text-stroke-color: #000;
  background: linear-gradient(180deg, rgba(100, 100, 100, 0.24) 8.38%, rgba(6, 6, 6, 0.24) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textTitleClip {
  background: linear-gradient(94deg, #fff 26.92%, rgba(255, 255, 255, 0) 116.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* download */

.btnCta {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), var(--bg-surface-surface-2, rgba(255, 255, 255, 0.08));
}
.btnCta:hover{
  background: #212121;
}

/* Physical cards */

.cardFront {
  animation: fanoutLeft 1s ease; /* Added 's' for seconds */
}

.cardMid {
  animation: fanoutCenter 1s ease; /* Added 's' for seconds */
}

.cardBack {
  animation: fanoutBack 1s ease; /* Added 's' for seconds */
}

@keyframes fanoutLeft {
  0% {
    transform: translateX(60px) rotate(0); /* Removed quotes */
    opacity: 0; /* Removed quotes */
  }
  100% {
    transform: translateX(0); /* Removed quotes */
    opacity: 1; /* Removed quotes */
  }
}

@keyframes fanoutCenter {
  0% {
    transform: translateX(0) opacity(0); /* Removed quotes */
    opacity: 0; /* Removed quotes */
  }
  100% {
    transform: translateX(0) opacity(1); /* Removed quotes */
    opacity: 1; /* Removed quotes */
  }
}

@keyframes fanoutBack {
  0% {
    transform: translateX(-60px) rotate(0); /* Removed quotes */
    opacity: 0; /* Removed quotes */
  }
  100% {
    transform: translateX(0px); /* Removed quotes */
    opacity: 1; /* Removed quotes */
  }
}

/* animation fade in text */

.fadeInUp-no-delay {
  animation: fadeInUp 1s ease-out forwards;
}

.fadeInUp-delay-03 {
  animation: fadeInUp 1s ease-out 0.3s forwards;
}

.fadeInUp-delay-06 {
  animation: fadeInUp 1s ease-out 0.6s forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* animation fade in text */

.fadeInUp-no-delay {
  animation: fadeInUp 1s ease-out forwards;
}

.fadeInUp-delay-03 {
  animation: fadeInUp 1s ease-out 0.3s forwards;
}

.fadeInUp-delay-06 {
  animation: fadeInUp 1s ease-out 0.6s forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* auto slide show */
.animation-slideshow {
  width: fit-content;
  animation: slide-left 10s linear infinite;
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Optional responsive styles */
@media (max-width: 768px) {
  .slide-item {
    width: 250px;
    height: 350px;
  }
}
@media (max-width: 640px) {
  .slide-item {
    width: 200px;
    height: 300px;
  }
}

/* animation card content */
.swiper,
.swiper-slide {
  width: 100%; 
  height: 100vh;
}
/* animation icon money */
@keyframes pulse_bitcoin {
  0% {
    transform: scale(1);
    box-shadow:
      0px 8px 20px -2px #F7931A,
      0.5px 0.5px 1px 0px rgba(255, 255, 255, 0.2) inset,
      0px -0.5px 1px 0px rgba(0, 0, 0, 0.2) inset;
  }
  50% {
    transform: scale(1.02);
    box-shadow:
      0px 8px 25px -2px #f87c00,
      0.5px 0.5px 1px 0px rgba(255, 255, 255, 0.4) inset,
      0px -0.5px 1px 0px rgba(0, 0, 0, 0.4) inset;
  }
  75% {
    transform: scale(1.03);
    box-shadow:
      0px 8px 30px -2px #e46b00,
      0.5px 0.5px 1px 0px rgba(255, 255, 255, 0.6) inset,
      0px -0.5px 1px 0px rgba(0, 0, 0, 0.6) inset;
  }
  100% {
    transform: scale(1.05);
    box-shadow:
      0px 8px 35px -2px #cc5a00,
      0.5px 0.5px 1px 0px rgba(255, 255, 255, 0.8) inset,
      0px -0.5px 1px 0px rgba(0, 0, 0, 0.8) inset;
  }
}

@keyframes pulse_eth {
  0% {
    transform: scale(1);
    filter: drop-shadow(0 0 30px rgba(98, 126, 234, 0.6));
  }

  50% {
    transform: scale(1.02);
    filter: drop-shadow(0 0 40px rgba(98, 126, 234, 0.7));
  }

  75% {
    transform: scale(1.03);
    filter: drop-shadow(0 0 50px rgba(98, 126, 234, 0.8));
  }

  100% {
    transform: scale(1.05);
    filter: drop-shadow(0 0 60px rgba(98, 126, 234, 0.85));
  }
}


@keyframes pulse_usd {
  0% {
    transform: scale(1);
    box-shadow: 
      0px 8px 24px -2px rgba(40, 131, 230, 0.6),
      0.5px 0.5px 1px rgba(255, 255, 255, 0.25) inset,
      0px -0.5px 1px rgba(0, 0, 0, 0.25) inset;
  }

  50% {
    transform: scale(1.02);
    box-shadow: 
      0px 10px 28px 0px rgba(40, 131, 230, 0.65),
      0.5px 0.5px 1px rgba(255, 255, 255, 0.28) inset,
      0px -0.5px 1px rgba(0, 0, 0, 0.28) inset;
  }

  75% {
    transform: scale(1.03);
    box-shadow: 
      0px 12px 32px 1px rgba(40, 131, 230, 0.7),
      0.5px 0.5px 1px rgba(255, 255, 255, 0.3) inset,
      0px -0.5px 1px rgba(0, 0, 0, 0.3) inset;
  }

  100% {
    transform: scale(1.05);
    box-shadow: 
      0px 14px 36px 2px rgba(40, 131, 230, 0.75),
      0.5px 0.5px 1px rgba(255, 255, 255, 0.35) inset,
      0px -0.5px 1px rgba(0, 0, 0, 0.35) inset;
  }
}



@keyframes pulse_tether {
  0% {
    transform: scale(1);
    box-shadow:
      0 0 0 rgba(67, 193, 159, 0),
      0 0 0 rgba(255, 255, 255, 0);
  }

  50% {
    transform: scale(1.02);
    box-shadow:
      0 0 10px 2px rgba(67, 193, 159, 0.5),
      0 0 10px 2px rgba(255, 255, 255, 0.3) inset,
      0 0 10px rgba(0, 0, 0, 0.2) inset;
  }

  75% {
    transform: scale(1.03);
    box-shadow:
    0 0 10px 3px rgba(67, 193, 159, 0.5),
    0 0 10px 2px rgba(255, 255, 255, 0.3) inset,
    0 0 10px rgba(0, 0, 0, 0.2) inset;
  }

  100% {
    transform: scale(1.05);
    box-shadow:
    0 0 12px 4px rgba(67, 193, 159, 0.6),
    0 0 12px 3px rgba(255, 255, 255, 0.4) inset,
    0 0 12px rgba(0, 0, 0, 0.25) inset;
  }
}

@keyframes pulse_solana {
  0% {
    transform: scale(1);
    box-shadow:
      0.5px 0.5px 1px rgba(255, 255, 255, 0.32) inset,
      0px -0.5px 1px rgba(0, 0, 0, 0.25) inset,
      0px 4px 20px rgba(169, 83, 234, 0.4);
  }

  50% {
    transform: scale(1.02);
    box-shadow:
      0.5px 0.5px 1px rgba(255, 255, 255, 0.35) inset,
      0px -0.5px 1px rgba(0, 0, 0, 0.28) inset,
      0px 6px 28px rgba(169, 83, 234, 0.5);
  }

  75% {
    transform: scale(1.03);
    box-shadow:
      0.5px 0.5px 1px rgba(255, 255, 255, 0.38) inset,
      0px -0.5px 1px rgba(0, 0, 0, 0.3) inset,
      0px 8px 36px rgba(169, 83, 234, 0.6);
  }

  100% {
    transform: scale(1.05);
    box-shadow:
      0.5px 0.5px 1px rgba(255, 255, 255, 0.4) inset,
      0px -0.5px 1px rgba(0, 0, 0, 0.32) inset,
      0px 10px 44px rgba(169, 83, 234, 0.7);
  }
}


.animate-bitcoin {
  animation: pulse_bitcoin 1.2s ease-in-out infinite;
}
.animate-eth {
  animation: pulse_eth 1.3s ease-in-out infinite;
}
.animate-usd {
  animation: pulse_usd 1.6s ease-in-out infinite;
}
.animate-tether {
  animation: pulse_tether 1.5s ease-in-out infinite;
}
.animate-solana {
  animation: pulse_solana 1.4s ease-in-out infinite;
}

/* toast */
@keyframes go2645569136 {
    0% {
        /* Add your starting properties here */
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        /* Add your ending properties here */
        transform: translateX(0);
        opacity: 1;
    }
}

.toast-animation {
    animation: go2645569136 0.35s cubic-bezier(0.21, 1.02, 0.73, 1) 0s 1 normal forwards;
}
